@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
:root {
  /* ## Colors */
  --green: #c5f82a;
  --white: #ffffff;
  --grey-700: #333333;
  --grey-800: #1f1f1f;
  --grey-900: #141414;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--grey-900);
  color: var(--white);
  font-family: "Inter", sans-serif;
}
main {
  background-color: var(--grey-800);
  display: flex;
  flex-direction: column;
  width: 400px;
  text-align: center;
  align-items: center;
  padding: 1em;
  border-radius: 15px;
  img {
    margin-top: 20px;
    width: 100px;
    border-radius: 50px;
    margin-bottom: 20px;
  }
  #location {
    color: var(--green);
    margin-bottom: 2rem;
  }
  #desc {
    margin-bottom: 2em;
    font-size: 14px;
  }
  #name {
    font-size: 30px;
    font-weight: 700;
  }
  .links {
    display: flex;
    flex-direction: column;
    width: 87%;

    .button {
      background-color: var(--grey-700);
      padding: 10px 20px;
      margin-bottom: 10px;
      outline: none;
      border-radius: 10px;
      border: solid var(--grey-700);
      cursor: pointer;
      font-weight: 500;
    }
    .button:hover {
      border: solid #c5f82a;
      background-color: #c5f82a;
      color: var(--grey-800);
    }
    a {
      color: var(--white);
      text-decoration: none;
      font-size: larger;
    }
  }
}
